# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/

# Mapa IBGE (baixado automaticamente)
utils/*.shp
utils/*.shx
utils/*.dbf
utils/*.zip
utils/*.cpg
utils/*.prj
utils/BR_Municipios*

# Streamlit
.streamlit/
*.log
